.project-wrap {
  background: #16a085;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 101;
  .content {
    bottom: 90px;
    top: 60px;
    width: 80%;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    .detail-text {
      font-size: 1.3em;
      margin-right: 10px;
    }
  }
  nav {
    position: absolute;
    z-index: 9999;
    width: 250px;
    left: 50%;
    bottom: 20px;
    margin-left: -108px;
    -webkit-transition: opacity 0.2s ease-in-out 0.5s;
    -moz-transition: opacity 0.2s ease-in-out 0.5s;
    transition: opacity 0.2s ease-in-out 0.5s;
    span {
      float: left;
      margin: 5px;
      &.icon-close {
        position: static;

      }
      &.bl-next-work {
        font-weight: 700;
        letter-spacing: 2px;
        display: block;
        text-transform: uppercase;
        line-height: 2em;
        cursor: pointer;
        margin-right: 2em;
      }
    }
  }
}

