.about-content.bl-content {
  background: #144057;
}

.skill {
  text-align: center;
}

.span4 > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* --------------------------------------------------------	*/
/*  Progress Bar  */
/* --------------------------------------------------------	*/

.progress {
  height: 40px;
  border-radius: 0;
  background: transparent !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 inset;
  margin-bottom: 10px;
}

.bar {
  height: 35px;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 40px;
  background: #c9ab8b !important;
  border: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 inset;
  text-shadow: none !important;
  text-align: left !important;
  padding-left: 30px !important;
}

/* --------------------------------------------------------	*/
/*  About Us  */
/* --------------------------------------------------------	*/

.about-us {
  h3 {
    font-size: 16px;
    color: #c9ab8b;
    padding-bottom: 10px;
  }

  i {
    font-size: 22px;
    color: #ffffff;
    padding-right: 10px;
  }
}
